# كل الكود لازم يراجعه فريق 
* @zaiaa-ai/Backend-team

# ملفات بايثون يراجعها فريق ML
*.py @zaiaa-ai/AI-ML-team

# ملفات الدوكيمينتيشن يراجعها فريق Docs
docs/* @zaiaa-ai/Frontend-team

# ملف محدد يراجعه شخص واحد
README.md @zaiaa-ai/DevOps-team

