# كل الكود لازم يراجعه فريق 
* @Backend-team

# ملفات بايثون يراجعها فريق ML
*.py @AI-ML-team

# ملفات الدوكيمينتيشن يراجعها فريق Docs
docs/* @Frontend-team

# ملف محدد يراجعه شخص واحد
README.md @DevOps-team

